<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Integración PagoPlux</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <!--Usamos un condicional de Angular para mostrar botones dependiendo del estado-->
        <ng-container *ngIf="!authService.loggedin(); else LoggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Registrarse</a>
          </li>
        </ng-container>
        <!--Esta sería la otra opción a mostrar-->
        <ng-template #LoggedIn>
          <li class="nav-item me-3">
            <a class="nav-link" style="cursor: pointer;" (click)="authService.trans()" routerLink="/private-trans" routerLinkActive="active">Transacciones</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" style="cursor: pointer;" (click)="authService.pay()" routerLink="/private-pay" routerLinkActive="active">Compras</a>
          </li>
          <li class="nav-item">
            <div class="nav-divider"></div>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" style="cursor: pointer;" (click)="authService.logout()">Cerrar Sesión</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<div class="container p-5">
  <router-outlet />
</div>
